@import url("https://rsms.me/inter/inter.css");
@import url("https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.gist {
  font-size: 13px;
  line-height: 18px;
}
.gist pre {
  font-family: Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New",
    monospace !important;
}
.gist-meta {
  font-family: Arial, sans-serif;
  font-size: 13px !important;
}
.gist-meta a {
  color: #3b5998 !important;
  font-weight: bold;
  text-decoration: none;
}
.gist-meta a:hover {
  text-decoration: underline;
}
